<!DOCTYPE html>
    {% load static %}
<head> 
<TITLE>SERVIÇOS</TITLE>
<link rel="stylesheet" href="{% static 'cadservst/cadservc.css' %}">
</head>

<body>
<div class="container">
    <div class="container__main">
        <div class="container__main--login">
            <div class="container__main--login--button">
                <a href="../homepagevet.html"><button  id="container__main--login--voltar"><img src="{% static 'cadservst/seta_voltar.svg' %}"></button></a>
            </div>
            <div>
                <img class= "container__main--login--logo" src="{% static 'cadservst/logo.svg' %}" alt="logo" width="100" height="100">
            </div>
            <div class="container__main--login--title">
                CADASTRO
            </div>
            <div>
                <form action="." method="post" class="Forms">
                    {% csrf_token %}
                    {{form.nome}}
                    {{form.preco}}
                    <h1 class="meusdias">Dias Disponíveis</h1>
                    <div class="dias">
                        <button class="dia">SEG{{form.seg}}</button>
                        <button class="dia">TER{{form.ter}}</button>
                        <button class="dia">QUA{{form.qua}}</button>
                        <button class="dia">QUI{{form.qui}}</button>
                        <button class="dia">SEX{{form.sex}}</button>
                        <button class="dia">SAB{{form.sab}}</button>
                    </div>
                    <h1 class="meushorarios">Horários Disponíveis</h1>
                    <div class="horarios">
                        <button class="hora">8:00 - 12:00{{form.horad}}</button>
                        <button class="hora">14:00 - 17:00{{form.horat}}</button>
                    </div>
                        <button type="submit" class="botao_cadastrar" >CADASTRAR</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>