<!DOCTYPE html>
    {% load static %}
<head> 
<TITLE>SERVIÇOS</TITLE>
<link rel="stylesheet" href="{% static 'cadservst/cadservc.css' %}">
</head>

<body>
<div class="container">

    <div class="container__main">
        <div class="container__main--login">
            <div class="container__main--login--button">
                <a href="../homepagevet.html"><button  id="container__main--login--voltar"><img src="{% static 'cadservst/seta_voltar.svg' %}"></button></a>
            </div>
            <div>
                <img class= "container__main--login--logo" src="{% static 'cadservst/logo.svg' %}" alt="logo" width="100" height="100">
            </div>
            <div class="container__main--login--title">
                CADASTRO
            </div>
            {{form.nome}}
            {{form.preco}}
            <h1 class="meusdias">Dias Disponíveis</h1>
            <div class="dias">
                {% csrf_token %}
                {{form.seg}}
                {{form.ter}}
                {{form.qua}}
                {{form.qui}}
                {{form.sex}}
                {{form.sab}}
            </div>
            <h1 class="meushorarios">Horários Disponíveis</h1>
            <div class="horarios">
                <button class="hora">8:00 - 12:00<input name="manha" class="horario" type="checkbox"></button>
                <button class="hora">14:00 - 17:00<input name="tarde" class="horario" type="checkbox"></button>
            </div>
            <div class="cadastrar">
                <button type="submit" class="botao_cadastrar" >CADASTRAR</button>
            </div>
        </div>
    </div>
</div>
</body>