<!DOCTYPE html>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN"
"http://www.w3.org/TR/REC-html40/strict.dtd">
<html>
    {% load static %}
<head> 
<TITLE>LOGIN</TITLE>

<link rel="stylesheet" href="{% static 'Loginst/styles.css' %}" >


</head>
<body>
<div class="container">

    <div class="container__main">
        <div class="container__main--login">
            <div>
               <img class= "container__main--login--logo" src="{% static 'Loginst/logo.svg' %}" alt="logo" width="100" height="100">
            </div>
            <div class="container__main--login--title">
                ENTRAR
            </div>
        
            <div>
            <form method="post" class="forms">
                {% csrf_token %}
                {% for field in form %}
                    {{field.errors}}
                    {{field}}
                {% endfor %}
                <a href="{% url 'cadastro' %}">Cadastre-se aqui</a>
                <a href="{% url 'vetcad' %}">Trabalhe Conosco</a>
                <button type="submit">ACESSAR</button>
    
            </form>
            
        </div>
    </div>
        <div class="container__main--animals">
            <div>
                <div class="container__main--animals--patas-bottom">
                    <img src="{% static 'Loginst/patas.svg' %}" alt="img1" >
                </div>
            </div>
            <div class="container__main--animals--pet-bottom">
                <img src="{% static 'Loginst/golden-dog.svg' %}" alt="img1" >
            </div>
        </div>
    </div>
   

</div>

</body>
</html>