@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container__main--topo {
    width: 100vw;
    height: 187px;
    left: -1px;
    top: -5px;
    display: flex;
    align-items: center;

    background: #DBEEF2;
}

.container {
    width: 100vw;
    height: 100vh;

}

.container__main {

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#voltar {
    position: absolute;
    left: 0px;
    background-color: #FFFFFF;
    border: none;
    height: 80px;
    width: 80px;
}

#voltar:hover {
    background: #D9A330;
    color: #3B6E61;
    cursor: pointer;
    ;
}

.clinicas {
    /* position: relative; */
    margin-top: 110px;
    width: 370px;
    height: 100px;
    background: #88BEB8;
    display: flex;
    justify-content: center;
    font-family: 'Jaldi', sans-serif;
    color: #FFFFFF;
    box-shadow: 0px 3.36px 3.36px rgba(0, 0, 0, 0.25);
    border-radius: 10.92px;
    font-size: 40px;
}

.clinica_um_button {
    position: relative;
    top: 10vh;
    width: 500px;
    height: 155px;
    background: #C9EDE9;
    border-radius: 21px 21px 21px 21px;
    font-size: larger;
    text-align: center;
    text-align: right;
    transition: all;
    transition: 500ms all;
}

.clinica_um_button:hover {
    background: #D9A330;
    color: #3B6E61;
    cursor: pointer;
    ;
}

.clinica_um_imagem {
    position: relative;
    width: 150px;
    height: 150px;
    left: -68%;
    top: 1px;
    border-radius: 25px 25px 25px 25px;
}

.animalzao {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 170px;
    top: 50px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}

@media only screen and (max-width: 900px) {
    /* .menu { width:600px; } */
     .clinicas{
        width: 409px;
        height: 79px;
    }
    .clinica_um_button{
        width: 620px;
        height: 104px;
     }
}