body {
    padding: 0;
    margin: 0;
    background-color: #354672;
}

.display-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    height: 100vh;
}

#screen-size {
    width: 100vw;
    height: 100%;
    border-radius: 0px;
    background-color: white;
}

.top {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: 100%;
    align-items: center;
    height: 169px;
    width: 100vw;
    background-color: #DBEEF2;
}

#site-logo {
    /* background-color: red; */
    grid-column: 1 / 1;
    margin-left: 20px;
    height: auto;
    width: 100px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 5 / 8;
    vertical-align: bottom;
    height: 100%;
    /* background-color: tomato; */
}

.titulo h2 {
    text-align: center;
    /* color: rgba(0, 0, 0, 0); */
    /* -webkit-text-stroke: 1px #207b8f; */
    vertical-align: middle;
    color: #DBEEF2;
    text-shadow:
        -2px -2px #207B8F,
        2px -2px #207B8F,
        -2px 2px #207B8F,
        2px 2px #207B8F;

    font-family: 'Jaldi';
    /* background-color: red; */
    /* font-weight: bold; */
    font-size: 75px;
}