<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <meta charset="UTF-8"> 
    <TITLE>CADASTRO DO PET</TITLE>
    <link rel="stylesheet" href="{% static 'petst/petcad.css' %}">
</head>

<body>
    <div class="container">

        <div class="container__main">

            <div class="container__main--login">
                <div class="container__main--login--button">
                    <a href="{% url 'home' %}"><button  id="container__main--login--voltar"><img src="{% static 'petst/seta_voltar.svg' %}"></button></a>
                </div>
                <div>
                    <img class= "container__main--login--logo" src="{% static 'petst/logo.svg' %}" alt="logo" width="100" height="100">
                </div>
                <div class="container__main--login--title" div-alling=center>
                    CADASTRO <br>DO PET
                </div>
                    <form action="." method="post" class="Forms">
                        {% csrf_token %}
                        {% for field in form %}
                            {{field.errors}}
                            {{field}}
                        {% endfor %}
                        <button type='submit' id="container__main--login--cadastro">CADASTRAR</button>
                    </form>
            </div>
        </div>
    </div>
</body>
</html>
