*{
    background-color: F9EDED;
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
.container__main{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.container__main--topo{
    width: 100vw;
    height: 187px;
    left: -1px;
    top: -5px;
    display: flex;
    align-items: center;
    background: #DBEEF2;
}
.nome{
    align-items: center;
    text-align: center;
    position: relative;
    width: 550px;
    height: 150px;
    top: -40vh;
    left: 100vh;
    background: #DBEEF2;
    border-radius: 21px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.veterinario{
    font-size: 40px;
    position: relative;
    top:3vh;
}
.especialidade{
    position: relative;
    top:3vh;
}
.foto{
    position: relative;
    top: 15vh;
    left: 20vh;
    border-radius: 360px;
    border: 2px solid #D9A330;
}

.cad_servc{
    position: relative;
    font-size: 30px;
    color:#A3D9C9;
    left: 108vh;
    top:-30vh;
    width: 400px;
    height: 90px;
    border-radius: 35px;
    background: #3B6E61;
    border: 4px solid #D9A330;
    transition: all;
    transition: 500ms all;
}
.cad_servc:hover{
    background: #D9A330;
    color: #3B6E61;
    cursor: pointer;;
}


.ger_servc{
    position: relative;
    font-size: 30px;
    color:#A3D9C9;
    left: 66.5vh;
    top:-15vh;
    width: 400px;
    height: 90px;
    border-radius: 35px;
    background: #3B6E61;
    border: 4px solid #D9A330;
    transition: all;
    transition: 500ms all;
}

.ger_servc:hover{
    background: #D9A330;
    color: #3B6E61;
    cursor: pointer;;
}
