* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #CDC5C5;
    min-height: 100vh;
}

.container__main {
    margin-top: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.container__main--animals {
    display: flex;
    justify-content: space-between;
}

.container__main--animals--pet-bottom {
    position: relative;
    top: -70px;
}
.container__main--animals--patas-bottom {
    position: relative;
    top: -20px;
}

.container__main--login--button {
    position: absolute;
    top:15px;
    left: 10px;
    padding: 0%;
    margin: 0;
}


.container__main--login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: #EEEEEE;
    border: 5px solid #D9A330;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding-bottom: 40px;
    
}

.container__main--login--title {
    font-size: 60px;
    color: #3B6E61;
    font-family: 'Josefin Sans';
}


input {
    width: 300px;
    height: 30px;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden ;
    background-color: #EEEEEE;
    font-size: 20px;
}

input:focus,textarea:focus,select:focus{
    outline: none;

}

#container__main--login--cadastro {
    box-sizing: border-box;
    width: 266px;
    height: 66px;
    left: calc(50% - 266px/2);
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400px;
    font-size: 40px;
    color: #A3D9C9;
    line-height: 66px;
    background: #3B6E61;
    border: 2px solid #D9A330;
    backdrop-filter: blur(2px);
    border-radius: 40px;
    text-align: center;
}

#container__main--login--voltar {
    border: none;
    height: 40px;
    width: 40px;
}

#container__main--login--cadastro:hover {
    background: #D9A330;
    color: #3B6E61;
    cursor: pointer;;
}

#container__main--login--voltar:hover {
    background: #D9A330;
    color: #3B6E61;
    cursor: pointer;;
}
a:link{text-decoration: none;}
a{color: #A3D9C9;}