*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

.container__main--bloco{
position: relative;
min-width: 54vw;
height: 350px;
top: 10vh;
background: #7DBFCF;
border: 3px solid #D9A330;
border-radius: 0px 90px;
justify-content: space-between;
align-items: center;
display: flex;
/* text-align: left; */
}

.texto{
position: relative;
font-size: large;
left: 10px;
}

.imagem{
width: fit-content;
position: relative;
}

.titulo{
font-size:50px;
position: relative;
bottom:-25vh;
}

.imagem1{
width: fit-content;
position: relative;
top:31vh;   
}

.buscar{
box-sizing: border-box;
position: relative;
width: 400px;
height: 100px;
left: 15vh;
top: -10vh;
background: #3B6E61;
border: 1.58991px solid #D9A330;
border-radius: 35.0376px; 
font-weight: 100px;
font-size: 40px;
font-family: Josefin Sans;
font-style: normal;
color: #A3D9C9;
line-height: 66px;
border: 2px solid #D9A330;   
}

.buscar:hover {
    background: #D9A330;
    color: #3B6E61;
    cursor: pointer;;
}
