@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');


*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;

}
.container__main{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.container__main--topo{
    width: 100vw;
    height: 170px;
    display: flex;
    align-items: center;
    background: #DBEEF2;
}
#voltar{
    position: absolute;
    left:0px;
    background-color: #FFFFFF;
    border: none;
    height: 80px;
    width: 80px;
}

#voltar:hover{
    background: #D9A330;
    color: #3B6E61;
    cursor: pointer;;
}

.topo{
    position: relative;
    top:5vh;
    width: 400px;
    height: 150px;    
    /* background: #A3D9C9; */
    background: #88BEB8;
    border-radius: 24px;
}

.pagamento{
    position:relative;
    top:5vh;
    left:2.5vh;
    font-size: 50px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.subtitulo{
    position: relative;
    top:10vh;
    font-size: 230%;
    font-family: 'Josefin Sans', sans-serif;
}
.formas{
    position:relative;
    top:10vh;   
}

.cartao_um{
    height: 100%;
    width: 100%;
    appearance: none;
}
/* .cartao_div input:checked{
    background-color: #D9A330;
    border-radius: 21px;
} */

.cartao{
    left: 0vh;
    top:10vh;
    width: 600px;
    height: 150px;
    border-radius: 21px 21px 21px 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-block: 25px;
    font-size: 100%;
    transition: 500ms all;
    /* border: 1px solid #D9A330; */
    background: #A3D9C9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.cartao:hover{
    background: #deebe7;
    color: #deebe7;
    cursor: pointer;
}

.pix_um{
    height: 100%;
    width: 100%;
    appearance: none;
}
.pix_div{
    position: relative;
    top:0vh;
}
/* .pix_div input:checked{
    background-color: #D9A330;
    border-radius: 21px;
} */
.pix{
    position: relative;
    left: 0vh;
    top:0vh;
    width: 600px;
    height: 150px;
    border-radius: 21px 21px 21px 21px;
    font-size: larger;
    text-align: center;
    text-align: right;
    transition: all;
    transition: 500ms all;
    /* border: 1px solid #D9A330; */
    background: #A3D9C9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.pix:hover{
    background: #deebe7;
    color: #deebe7;
    cursor: pointer;
}

.select{
    display: flex;
    top:25vh;
}

.cartao_img{
    position: relative;
    top:20vh;
    left:5vh;  
}

.cartao_titulo{
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top:-16vh;
    left:20vh;
}

.pix_img{
    position: relative;
    top:-5vh;
    left: -60vh;


}
.pix_titulo{
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top:-16vh;
    left:20vh;  
}

.formas{
    position: relative;
    left:5vh;
}


